$font-stack: Helvetica, sans-serif;
$primary-color: #2d547b;

@mixin flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

body {
  font: 100% $font-stack;
  color: $primary-color;
}

h1 {
  font-size: 50px;
}

.home {
  @include flexCenter();
}